# PomaiDB (Ignore core but allow Python wrapper)
pomaidb/*
!pomaidb/python/
pomaidb_drugs/
__pycache__/
*.pyc
medical_retrieval/pomaidb_drugs/

# Environment
.venv/
.env

# Workspace
.vscode/
.gemini/
screenshot.png
