[submodule "pomaidb"]
	path = pomaidb
	url = https://github.com/pomagrenate/pomaidb.git
[submodule "cheesepath"]
	path = cheesepath
	url = https://github.com/pomagrenate/cheesepath.git
[submodule "cheesebrain"]
	path = cheesebrain
	url = https://github.com/pomagrenate/cheesebrain.git
