# PomaiDB (Ignore core but allow Python wrapper)
pomaidb/*
!pomaidb/python/
pomaidb_drugs/
__pycache__/
*.pyc
medical_retrieval/pomaidb_drugs/
medical_retrieval/pomaidb_docking/
medical_retrieval/test_db/
medical_retrieval/test_docking_db/
pomaidb_docking/
*.webp
*.png

# Environment
.venv/
.env

# Workspace
.vscode/
.gemini/
screenshot.png
